﻿@import "bootstrap-4.2.1/scss/bootstrap";
@import "font-awesome-4.7.0/scss/font-awesome";
@import "../js/slick-1.8.1/slick/slick.scss";

@import "image";
@import "mixin";
@import "font-face";
@import "variables";
@import "reset";
@import "bootstrap-edit";

// general
.general__title {
	h2 {
		font-size: 30px;
		text-transform: uppercase;
		display: block;
		text-align: center;
		padding: 45px 0 15px;
		line-height: 45px;
		font-weight: lighter;
	}
	p { 
		color: $color-gray-primary; 
		line-height: 24px; 
		margin-bottom: 45px;
		text-align: center 
	}
}

// khối header
.header {
	&__top {
		background-color: #333;
		.left {
			display: flex;
			align-items: center;
			height: 30px;
			img { padding-right: 10px }
			span { font-size: 13px; color: $color-gray-fofade; line-height: 0 }
		}
		.right {
			height: 30px;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			.btn-search { line-height: 0; padding: 0 10px; margin-right: 5px; border-right: 1px dotted $color-gray-fofade }
			.btn-lang { line-height: 0; margin-left: 5px; }
		}
	}
	&__bottom {
		.left a { display: block; padding: 22px 0 }
		.right {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			.menu-mobile {
				display: none;
				font-size: 26px;
				margin-left: 20px;
			}
			nav > ul { 
				padding: 0;
				margin: 0;
				li {
					display: inline-block;
					a { 
						text-transform: uppercase; 
						padding: 0 15px;
						position: relative;
						font-size: 15px;
						&:before {
							@include pseudo($content: '/');
							color: #ccc;
							top: -3px;
							right: -5px;
						}
					}
					&:last-child a:before { display: none }
					&.active a { color: $color-orange-primary }
				}
			}
			.social {
				padding-left: 15px;
				margin-bottom: 0;
				li { display: inline-block; padding: 0 3px }
			}
		}
	}
}

// khối slider
.slider {
	.item {
		max-height: 550px;
		.imgcw:before { padding-bottom: 40.263543191% }
	}
	.slick-arrow {
		position: absolute;
		z-index: 99;
		top: 50%;
		@include prefix(transform, translateY(-50%));
		border: none;
		background-color: transparent;
		padding: 0;
		cursor: pointer;
	}
	.slick-prev {
		left: 0;
	}
	.slick-next {
		right: 0;
	}
}

// khối tại sao nên chọn microfiber
.why {
	padding-bottom: 30px;
	.item {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
		.wrap { min-height: 80px }
		span { font-size: 17px; color: $color-orange-primary; font-weight: bold; margin: 15px 0 10px }
		p { text-align: center; font-size: 14px; color: $color-gray-primary }
	}
}

// khối sản phẩm microfiber cung cấp
.product {
	background-color: #f9f9f9;
	padding-bottom: 30px;
	.item {
		position: relative;
		padding: 0 10px 20px;
		.imgcw:before { padding-bottom: 133.47826087% }
		.info {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 20px;
			text-align: center;
			z-index: 999;
			color: #fff;
			background-color: rgba(0,0,0,.6);
			h2 { z-index: 9999; text-transform: uppercase; font-size: 18px }
			a { color: #fff; border: 1px solid; font-size: 13px; padding: 5px 8px; border-radius: 3px }
		}
	}
	&__slider {
		overflow: hidden;
		.slick-arrow {
			background-color: transparent;
			border: none;
			position: absolute;
			top: 50%;
			@include prefix(transform, translateY(-50%));
			z-index: 99;
			cursor: pointer;
			padding: 0;
			img { @include prefix(transform, scale(.5)) }
		}
		.slick-prev { left: -12px }
		.slick-next { right: -12px }
		.slick-list { margin: 0 -10px }
	}
}

// khối thương hiệu
.brand {
	padding-top: 30px;
	.wrap { margin: 0 -10px; display: flex; flex-wrap: wrap }
	.item { 
		padding: 10px;     
		-ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
		a {
			height: 105px;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px solid #ccc;
			overflow: hidden;
			border-radius: 3px;
			img { @include transition }
			&:hover img { @include prefix(transform, scale(1.2)) }
		}
	}
	.more {
		display: flex;
		justify-content:center;
		padding-top: 10px;
		a {
			font-size: 13px; 
			color: #ccc; 
			border: 1px solid;
			padding: 4px 10px;
			border-radius: 3px;
		}
	}
}

// khối tin tức
.news {
	padding-bottom: 20px;
	.item {
		box-shadow: 0 0 1px 1px #f3f3f3;
		margin-bottom: 30px;
		.imgcw:before { padding-bottom: 56.578947368% }
		img { border-top-left-radius: 3px; border-top-right-radius: 3px }
		.body {
			padding: 20px 15px 10px;
			background-color: #fff;
			border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px;
			span { margin-bottom: 8px; display: block; font-size: 12px; color: $color-gray-fade }
			a { font-weight: bold; font-size: 18px; color: #333; display: block; margin-bottom: 15px }
			p { font-size: 14px }
		}
	}
}

// khối footer
.footer {
	&__bottom {
		.container {
			height: 40px;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		font-size: 14px;
		background-color: #222;
		color: $color-gray-fade;
		img { padding: 0 10px }
		.light { color: $color-gray-fofade }
	}
	&__top {
		padding: 40px 0 30px;
		background-color: #2b2b2b;
		img { width: 100% }
		.item { 
			padding-right: 5px;
			a { color: $color-gray-fofade; font-size: 14px }
			&:last-child { padding-right: 15px }
		}
		.title {
			font-weight: bold;
			color: $color-orange-primary;
			font-weight: bold;
			font-size: 20px;
			padding-bottom: 15px;
			border-bottom: 1px solid #404040;
			position: relative;
			line-height: 1;
			margin-bottom: 25px;
			&:before {
				@include pseudo;
				bottom: -1px;
				background-color: $color-orange-primary;
				width: 34px;
				height: 1px;
			}
		}
		ul {
			padding: 0;
			margin: 0;
			li {
				margin-bottom: 15px;
				display: flex;
				align-items: flex-start;
				.image { min-width: 18px; text-align: center; margin-right: 5px }
				img { width: auto }
				span { font-size: 14px; color: $color-gray-fofade; line-height: 24px }
			}
		}
	}
}