﻿// pseudo
// decs: When using ::before and ::after you'll always need these three, so we're saving two lines of code every time you use this.
@mixin pseudo($display: block, $pos: absolute, $content: ''){
	content: $content;
	display: $display;
	position: $pos;
}

// Placeholders
// decs: They're a pain as you have to set the style in all the separate formats, this sorts it for you.
@mixin input-placeholder {
	&.placeholder { @content; }
	&:-moz-placeholder { @content; }
	&::-moz-placeholder { @content; }
	&:-ms-input-placeholder { @content; }
	&::-webkit-input-placeholder { @content; }
}

// Css3 prefix
// decs: You can use the following mixin to add vendor prefixes to any CSS property:
@mixin prefix($prop, $value) {
	-webkit-#{$prop}: #{$value};
	-moz-#{$prop}: #{$value};
	-ms-#{$prop}: #{$value};
	-o-#{$prop}: #{$value};
	#{$prop}: #{$value};
}

// FONT-FACE RULE
// decs: It’s kind of annoying to add a separate @font-face rule to every custom font you want to use, especially since you need to support so many formats. With this following font-face mixin, you can make that tedious task much faster. Make sure that you use the right file path within the url() function.
@mixin font-face($name, $file, $weight: normal, $style: normal) {
	@font-face {
		font-family: "#{$name}";
		src: url("../fonts/#{$file}.eot");
		src: url("../fonts/#{$file}.eot?#iefix") format("embedded-opentype"),
		url("../fonts/#{$file}.woff") format("woff"),
		url("../fonts/#{$file}.ttf") format("truetype"),
		url("../fonts/#{$file}.svg?#webfont") format("svg");
		font-weight: $weight;
		font-style: $style;
	}
}

// TEXT SHORTENING
// decs: Our last mixin is quite simple to use but it can come in handy if you work a lot with text. It performs truncation on any text that overflows its containing element and adds an ellipsis (…) to the end.
@mixin text-shorten {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// opacity
// decs: CSS Opacity with fallback for IE8+.
@mixin opacity($opacity) {
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
	filter: alpha(opacity = $opacity-ie); //IE8
}

// Vertical centering
@mixin center-vertically {
  position: absolute;
  top: 50%;
  left: 50%;
  @include prefix(transform, translate(-50%, -50%));
}

// transition
@mixin transition ($time: .3s) {
	@include prefix(transition, all $time ease);
}