﻿﻿body {
	font-family: $font-primary;
	font-size: 16px;
	color: #333;
	font-weight: lighter;
}

*:focus { outline: none!important }
a { color: #333; @include transition }
a:hover { color: $color-orange-primary; text-decoration: none }

ul { list-style-type: none }