﻿@media only screen and (max-width: 991px) {
  .footer__bottom .container {
    flex-direction: column;
    height: 60px;
    justify-content: center; }
  .brand .item {
    padding: 10px;
    -ms-flex: 0 0 16.6666666667%;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }
  .header__bottom .right {
    justify-content: flex-start;
    flex-direction: row-reverse; }
    .header__bottom .right .menu-mobile {
      display: block; }
    .header__bottom .right nav {
      display: none; }
    .header__bottom .right .social {
      display: none; } }

@media only screen and (max-width: 767px) {
  .header__top .left span {
    font-size: 12px; }
  .header__top .right ul {
    display: none; }
  .brand .item {
    padding: 10px;
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; } }
