﻿@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {
	.footer {
		&__bottom .container {
			flex-direction: column;
			height: 60px;
			justify-content: center;
		}
	}
	.brand .item {
		padding: 10px;     
		-ms-flex: 0 0 16.6666666667%;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
	}
	.header {
		&__bottom {
			.right {
				justify-content: flex-start;
				flex-direction: row-reverse;
				.menu-mobile { display: block }
				nav { display: none }
				.social { display: none }
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	.header__top {
		.left span {
			font-size: 12px;
		}
		.right ul { display: none }
	}
	.brand .item {
		padding: 10px;     
		-ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
	}
}
