﻿// khai báo font-family cho toàn trang
$font-primary: 'HelveticaNeue';

// khai báo color cho toàn trang
$color-gray-primary: #555;
$color-gray-fade: #999;
$color-gray-fofade: #efefef;
$color-orange-primary: #bf3b2c;